<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="64"/>
        <parameter name="platform" value="WINDOWS"/>
        <classes>
            <class name="utils.TestRunner"/>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="57"/>
        <parameter name="platform" value="WINDOWS"/>
        <classes>
            <class name="utils.TestRunner"/>
        </classes>
    </test>
</suite>